####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
env/

####################################
# Data & datasets
####################################
*.h5
*.hdf5
surfdrive/
data/

####################################
# Model outputs & experiments
####################################
checkpoints/
*.pt
*.pth

experiments/results/
experiments/experiments/results/
experiments/logs/

# TensorBoard
tb_logs/
events.out.tfevents.*

####################################
# HPC / SLURM
####################################
*.out
*.err

####################################
# Editors / backups
####################################
*~
*.save
*.save.*
*.swp
*.swo

####################################
# OS files
####################################
.DS_Store
Thumbs.db
